/*     ______                      _
      / ____/_  ______  ___  _____(_)_____
     / __/  | |/_/ __ \/ _ \/ ___/ // ___/
    / /___ _>  </ /_/ /  __/ /  / /(__  )
   /_____//_/|_/ .___/\___/_/  /_//____/
              /_/  CSS Framework using Sass */
/* =================================
Variables
==================================== */
$gutter: 2%;

/* =================================
Mixins
==================================== */
@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin grid-layout ($cols) {
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	> * {
		$first-column-cell: #{$cols}n-#{$cols - 1};
		$last-column-cell: #{$cols}n;
		$last-row: -n + #{$cols};

		float: left;
		@include border-box;
		margin-right: $gutter/2;
		margin-left: $gutter/2;
		margin-bottom: $gutter;
		width: (100 - $gutter * ($cols - 1)) / $cols;

		// No left margin on first cell of each row
		&:nth-of-type(#{$first-column-cell}) {
			clear: left;
			margin-left: 0;
		}

		// No right margin on last cell of each row
		&:nth-of-type(#{$last-column-cell}) {
			float: right;
			margin-right: 0;
		}

		// No bottom margin on last row
		&:nth-last-of-type(#{$last-row}) {
			margin-bottom: 0;
		}
	}
	
	img { max-width: 100%; height: auto; }
}
@mixin column-width($size) {
	width: (100 - $gutter * (12 / $size - 1)) / (12 / $size);
}

/* =================================
Reset Rules
==================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, img, ins, kbd, q, s, samp,
strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

pre {
	-moz-tab-size: 3;
	-o-tab-size: 3;
	tab-size: 3;
}

/* New baselines */
body {
	font-size: 62.5%;
}
p, dl, ol, ul, table {
	margin-bottom: 1em;
}

h1 { margin-bottom: .25em; font-size: 2em; }
h2 { margin-bottom: .25em; font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

ol, ul {
	margin: 0 0 1em .8em;
	padding-left: .8em;
}

pre, code {
	font-family: 'Courier New', Monospace;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;

	&:before,
	&:after {
		content: '';
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =================================
General Styling
==================================== */
body {
	line-height: 1.5;
	color: #000;
	background-color: #fff;
}

/* =================================
Column Layout
==================================== */
.row {
	&:before {
		content: '';
		display: table;
		width: 100%;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
		width: 100%;
	}
	> * {
		float: left;
		@include border-box;
		margin-right: $gutter/2;
		margin-left: $gutter/2;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			float: right;
			margin-right: 0;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}
.size-1  { @include column-width(1); }
.size-2  { @include column-width(2); }
.size-3  { @include column-width(3); }
.size-4  { @include column-width(4); }
.size-5  { @include column-width(5); }
.size-6  { @include column-width(6); }
.size-7  { @include column-width(7); }
.size-8  { @include column-width(8); }
.size-9  { @include column-width(9); }
.size-10 { @include column-width(10); }
.size-11 { @include column-width(11); }
.size-12 { width: 100%; }

/* =================================
Grid Layout
==================================== */
.one-column    { @include grid-layout(1) }
.two-column    { @include grid-layout(2) }
.three-column  { @include grid-layout(3) }
.four-column   { @include grid-layout(4) }
.five-column   { @include grid-layout(5) }
.six-column    { @include grid-layout(6) }
.seven-column  { @include grid-layout(7) }
.eight-column  { @include grid-layout(8) }
.nine-column   { @include grid-layout(9) }
.ten-column    { @include grid-layout(10) }
.eleven-column { @include grid-layout(11) }
.twelve-column { @include grid-layout(12) }

/* =================================
Classes
==================================== */
.border-box {
	@include border-box;	
}

/* =================================
Small-screen Device Styles
==================================== */
@media (max-width: 480px) {
	.row > *,
	.one-column > *,
	.two-column > *,
	.three-column > *,
	.four-column > *,
	.five-column > *,
	.six-column > *,
	.seven-column > *,
	.eight-column > *,
	.nine-column > *,
	.ten-column > *,
	.eleven-column > *,
	.twelve-column > * {
		float: none !important;
		margin: 1em 0 !important;
		width: 100%;
	}
}

/* =================================
IE 7 Clear Row Fix
==================================== */
.row {*zoom: 1}