/* =================================
Variables
==================================== */
@gutter: 2%;

/* =================================
Mixins
==================================== */
.borderBox () {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gridLayout (@cols) {
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	> * {
		@firstColumnCell: e(%('%sn - %s', @cols, @cols - 1));
		@lastColumnCell: e(%('%sn', @cols));
		@lastRow: e(%('-n + %s', @cols));

		float: left;
		.borderBox;
		margin-right: @gutter/2;
		margin-left: @gutter/2;
		margin-bottom: @gutter;
		width: (100 - @gutter * (@cols - 1)) / @cols;

		// No left margin on first cell of each row
		&:nth-of-type(@firstColumnCell) {
			margin-left: 0;
		}

		// No right margin on last cell of each row
		&:nth-of-type(@lastColumnCell) {
			float: right;
			margin-right: 0;
		}

		// No bottom margin on last row
		&:nth-last-of-type(@lastRow) {
			margin-bottom: 0;
		}
	}
}
.columnWidth(@size) {
	width: (100 - @gutter * (12 / @size - 1)) / (12 / @size);
}

/* =================================
Reset Rules
==================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, img, ins, kbd, q, s, samp,
strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* New baselines */
body {
	font-size: 62.5%;
}
h1, h2, p, dl, ol, ul, table {
	margin-bottom: 1em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

ol, ul {
	margin: 0 0 1em .8em;
	padding-left: .8em;
}

pre, code {
	font-family: 'Courier New', Monospace;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
	
	&:before,
	&:after {
		content: '';
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =================================
General Styling
==================================== */
body {
	line-height: 1.5;
	color: #000;
	background-color: #fff;
}

/* =================================
Column Layout
==================================== */
.row {
	&:before {
		content: '';
		display: table;
		width: 100%;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
		width: 100%;
	}
	> * {
		float: left;
		.borderBox;
		margin-right: @gutter/2;
		margin-left: @gutter/2;

		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			float: right;
			margin-right: 0;
		}
	}
}
.size-1  { .columnWidth(1); }
.size-2  { .columnWidth(2); }
.size-3  { .columnWidth(3); }
.size-4  { .columnWidth(4); }
.size-5  { .columnWidth(5); }
.size-6  { .columnWidth(6); }
.size-7  { .columnWidth(7); }
.size-8  { .columnWidth(8); }
.size-9  { .columnWidth(9); }
.size-10 { .columnWidth(10); }
.size-11 { .columnWidth(11); }
.size-12 { width: 100%; }

/* =================================
Grid Layout
==================================== */
.one-column    { .gridLayout(1) }
.two-column    { .gridLayout(2) }
.three-column  { .gridLayout(3) }
.four-column   { .gridLayout(4) }
.five-column   { .gridLayout(5) }
.six-column    { .gridLayout(6) }
.seven-column  { .gridLayout(7) }
.eight-column  { .gridLayout(8) }
.nine-column   { .gridLayout(9) }
.ten-column    { .gridLayout(10) }
.eleven-column { .gridLayout(11) }
.twelve-column { .gridLayout(12) }

/* =================================
Small-screen Device Styles
==================================== */
@media (max-width: 480px) {
	.row > *,
	.one-column > *,
	.two-column > *,
	.three-column > *,
	.four-column > *,
	.five-column > *,
	.six-column > *,
	.seven-column > *,
	.eight-column > *,
	.nine-column > *,
	.ten-column > *,
	.eleven-column > *,
	.twelve-column > * {
		float: none;
		margin: 1em 0;
		width: 100%;
	}
}