/* =================================
Site-wide Styles
==================================== */
body {
	color: #222;
	background-color: #fff;
}
h1,
h2 {
	margin: 0;
}
#wrapper {
	margin: 0 auto;
	padding: 2%;
	max-width: 960px;
	font-size: 1.4em;
}
header {
	padding: 2%;
	background-color: #ccc;
}
article {
	margin: 2% 0;
	/* Continue the sidebar background all the way to the bottom */
	background-image: -webkit-linear-gradient(#999, #999);
	background-image: -moz-linear-gradient(#999, #999);
	background-image: -o-linear-gradient(#999, #999);
	background-image: -ms-linear-gradient(#999, #999);
	background-image: linear-gradient(#999, #999);
	background-repeat: no-repeat;
	background-size: 23.5% 100%;
}
@media (max-width: 480px) {
	article {
		margin: 0;
		background-image: none;
	}
}
#sidebar {
	padding: 2%;
	color: #fff;
	background-color: #999;
}
#content {
	padding: 2%;
	background-color: #eee;
}
footer {
	padding: .5em;
	text-align: center;
	background-color: #ccc;
}
footer p {
	margin: 0;
}

/* =================================
Classes
==================================== */
.grid {
	margin: 1em 0;
	padding: 0;
	list-style: none;
}
.grid li {
	padding: .5em;
	background: #ccc;
}