/* =================================
Table of Contents
====================================
:Variables
:Mixins
:General
:Header
:Footer
==================================== */

/* =================================
:Variables
==================================== */
$experis-blue: #6290c4;
$experis-orange: #c36d24;

/* =================================
:Mixins
==================================== */
@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}

/* =================================
:General
==================================== */
#main > article {
	h1 {
		color: $experis-blue;
	}
	h2 {
		padding-top: .5em;
		border-top: 1px solid $light-gray;
		color: $dark-gray;
	}
	h3 {
		text-transform: uppercase;
		color: $med-gray;
	}
	h4 {
		margin-bottom: 1em;
		border-bottom: 1px dotted $med-gray;
	}
	a {
		color: $experis-orange;
	}
}

/* =================================
:Header
==================================== */
#wrap > header {
	margin-bottom: $gutter;
	border-bottom: 1px solid $gray;

	h1 {
		margin-top: $gutter;
		text-align: center;
		text-transform: uppercase;
		font-size: 2.4em;
		color: $dark-gray;
	}
}

/* =================================
:Footer
==================================== */
#wrap > footer {
	margin: $gutter 0;
	padding-top: $gutter;
	border-top: 1px solid $gray;
	text-align: center;
}