// Always import global files first
@import '../../../../scss/global/framework';
@import '../../../../scss/global/variables';

/* =================================
Table of Contents
====================================
:General Styling
:Media Queries
==================================== */

/* =================================
:General Styling
==================================== */
#wrap {
	margin: 0 auto;
	max-width: 960px;
	font: 1.4em/1.5 Arial, Helvetica, sans-serif;

	> header {
		position: relative;
		margin: $gutter 0;

		h1 {
			position: absolute;
			left: 50%;
			margin-left: -175px;
			width: 350px;
			line-height: 1;
			text-align: center;
		}
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			list-style: none;
		}
		li {
			display: inline-block;
			margin: 0 1em;
			line-height: 2;

			&:nth-of-type(3) {
				margin-left: 350px;
			}
		}
	}
}
.main-content {
	margin-bottom: $gutter;

	.row .row {
		margin-bottom: $gutter;
	}
	div[class*=size-]:not(.wrap) {
		height: 185px;
		border: 2px solid $med-gray;
		background: $gray;
		
		&.tall-box {
			height: auto;
			min-height: 385px;
		}
		&.text-block {
			padding: .5em 1em 0;
			overflow: auto;
		}
	}
	img {
		display: block;
		margin: 0 auto;
	}
}
footer p {
	display: inline-block;
	padding: 1em;
	background-color: $light-gray;
}

/* =================================
:Media Queries
==================================== */
@media (max-width: 640px) {
	#wrap > header {
		position: relative;
		margin: $gutter 0;

		h1 {
			position: relative;
			left: 0;
			margin-left: 0;
			width: auto;
		}
		li {
			display: block;
			margin: 0 0 1%;
			line-height: 2;
			border: 2px solid $gray;
			background-color: $light-gray;

			&:nth-of-type(3) {
				margin-left: 0;
			}
		}
	}
}
@media (max-width: 480px) {
	.main-content {
		.row .row {
			margin-bottom: 0;
		}

		div[class*=size-]:not(.wrap) {
			height: auto;
		}
	}
}