/* =================================
Table of Contents
====================================
:Colors
==================================== */

/* =================================
:Colors
==================================== */
$light-gray: #eee;
$gray: #ccc;
$med-gray: #999;
$dark-gray: #333;