// Always import global files first
@import 'global/framework';
@import 'global/variables';

/* =================================
Table of Contents
====================================
:General Styling
==================================== */

/* =================================
:General Styling
==================================== */
#wrap {
	margin: 0 auto;
	max-width: 960px;
	font: 1.4em/1.5 Arial, Helvetica, sans-serif;
}

// Add your own styles!